<div *ngIf="showAlert" class="global-alert" [ngStyle]="{ 
    'background-color': isError ? '#dc3545' : '#cfe2ff',
    'color': isError ? '#fff' : '#1b508d' 
  }">
  {{ alertMessage }}
</div>
<div class="custom-dialog">
    <h4 class="text-lg-start mb-3 font-weight-bold title-label">Reset Password</h4>

    <p>The reset link will be sent to the registered email address.</p>
    <!-- Button Row -->
    <div class="button-row">
        <button class="add-btn custom-labels" (click)="submitEvent()">Send</button>
        <button class="cancel-btn custom-labels" (click)="closeDialog()">Cancel</button>
    </div>
</div>
