<div class="custom-dialog">
    <h4 class="text-lg-start mb-3 font-weight-bold title-label">Add Admin</h4>

    <!-- Date Input -->

    <!-- Event Title -->
    <div class="mb-3">
        <label class="form-label custom-labels">Full Name</label>
        <input type="text" class="form-control custom-labels" [(ngModel)]="name" placeholder="Enter Name">
    </div>

    <!-- Event Title -->
    <div class="mb-3">
        <label class="form-label custom-labels">Email</label>
        <input type="email" class="form-control custom-labels" [(ngModel)]="email" placeholder="Enter Email">
    </div>

    <!-- Button Row -->
    <div class="button-row">
        <button class="add-btn custom-labels" (click)="submitDesign()">Add</button>
        <button class="cancel-btn custom-labels" (click)="closeDialog()">Cancel</button>
    </div>