<div class="custom-dialog">
  <h4 class="text-lg-start mb-3 font-weight-bold title-label">
    {{ index !== null ? 'Edit FAQ' : 'Add FAQ' }}
  </h4>

  <!-- Question Input -->
  <div class="mb-3">
    <label class="form-label custom-labels">Question</label>
    <input type="text" class="form-control custom-labels" [(ngModel)]="question" placeholder="Enter Question">
  </div>

  <!-- Answer Input -->
  <div class="mb-3">
    <label class="form-label custom-labels">Answer</label>
    <textarea class="form-control custom-labels" [(ngModel)]="answer" placeholder="Enter Answer" rows="5"></textarea>
  </div>

  <!-- Button Row -->
  <div class="button-row">
    <button class="add-btn custom-labels" (click)="submitFaq()">
      {{ index !== null ? 'Update' : 'Create' }}
    </button>
    <button class="cancel-btn custom-labels" (click)="closeDialog()">Cancel</button>
  </div>
</div>
