<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <router-outlet/>
   <!-- <app-notifications/> -->
   <!-- <app-admin-homepage/> -->
   <!-- <app-emp-profile/> -->
   <!-- <app-admin-home-page/> -->
    <!-- <app-teams-dialog-box/> -->
  <!-- <app-admin-add-event/> -->
   <!-- <app-forgot-password/> -->
    <!-- <app-new-password/> -->
     <!-- <app-emp-navbar/> -->
      <!-- <app-footer/> -->
       <!-- <app-emp-homepage/> -->
       <!-- <div class="star-rating">
        <i class="fa fa-star" *ngFor="let star of stars"></i>
        <i class="fa fa-star-half" *ngIf="rating % 1 !== 0"></i>
      </div> -->
</body>
</html>